:root .fui-split-button {
  position: relative;
}

:root .fui-split-button > .fui-button-inner {
  flex: 1 1 auto;
}

:root .fui-split-button .fui-split-button-arrow {
  width: 22px;
  flex-basis: 22px;
  border-left: 1px solid transparent;
  pointer-events: auto;
}

:root .fui-split-button.fui-button-size-large .fui-split-button-arrow {
  width: 28px;
  flex-basis: 28px;
}

:root .fui-split-button:not(.fui-button-disabled) .fui-split-button-arrow {
  cursor: pointer;
}

:root .fui-split-button:not(.fui-button-disabled) .fui-split-button-arrow:hover {
  background: rgba(127, 127, 127, 0.12);
}

:root .fui-split-button:not(.fui-button-disabled):hover .fui-split-button-arrow {
  border-left-color: rgba(0, 0, 0, 0.12);
}

:root .fui-split-button.fui-menu-button-open .fui-split-button-arrow {
  background: rgba(127, 127, 127, 0.16);
}
